<a href="https://colab.research.google.com/github/maulidyanm/algoritma-pemrograman-s1/blob/main/Jobsheet_2_Dasar_Python_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 # Praktikum 01 - Pengenalan Variabel dan Tipe Data

In [ ]:
# integer
umur = 20
print("Umur: ", umur, "-", type(umur))

#float
tinggi = 170.5
print("Tinggi: ", tinggi, "-", type(tinggi))

#string
nama = "Andi"
print("Nama: ", nama, "-", type(nama))

#boolean
is_mahasiswa = True
print("Status Mahasiswa: ", is_mahasiswa, "-", type(is_mahasiswa))

#list
nilai = [80, 85, 90]
print("Nilai: ", nilai, "-", type(nilai))

#tuple
koordinat = (10, 20)
print("Koordinat: ", koordinat, "-", type(koordinat))

#dictionary
mahasiswa = {"nama": "Andi", "umur": 20, "prodi": "TRK"}
print("Data Mahasiswa:", mahasiswa, "-", type(mahasiswa))

#set
hobi = ("Membaca", "Olahraga", "Memasak")
print("Hobi:", hobi, "-", type(hobi))

Umur:  20 - <class 'int'>
Tinggi:  170.5 - <class 'float'>
Nama:  Andi - <class 'str'>
Status Mahasiswa:  True - <class 'bool'>
Nilai:  [80, 85, 90] - <class 'list'>
Koordinat:  (10, 20) - <class 'tuple'>
Data Mahasiswa: {'nama': 'Andi', 'umur': 20, 'prodi': 'TRK'} - <class 'dict'>
Hobi: ('Membaca', 'Olahraga', 'Memasak') - <class 'tuple'>

# Praktikum 02 - Input dan Output Dasar

In [ ]:
# string
nama = input("Masukkan nama anda: ")

#integer
umur = int(input("Masukkan umur anda: "))

#float
tinggi = float(input("Masukkan tinggi badan (cm): "))

#Output Standar
print("Halo,", nama, "umur anda: ", umur, "tahun, tinggi: ", tinggi, "cm")

#Output dengan format ()
print("Halo {0}, umur anda {1} tahun, tinggi {2} cm".format(nama, umur, tinggi))

#Output dengan f-string
print(f"Halo {nama}, umur anda {umur} tahun, tinggi {tinggi} cm")

Masukkan nama anda: maulidya
Masukkan umur anda: 18
Masukkan tinggi badan (cm): 159
Halo, maulidya umur anda:  18 tahun, tinggi:  159.0 cm
Halo maulidya, umur anda 18 tahun, tinggi 159.0 cm
Halo maulidya, umur anda 18 tahun, tinggi 159.0 cm

# Praktikum 03 - Operator Artimetika

In [ ]:
a = 15
b = 4

print("a + b = ", a + b)
print("a - b = ", a - b)
print("a * b = ", a * b)
print("a / b = ", a / b)
print("a // b = ", a // b)
print("a % b = ", a % b)
print("a ** b = ", a ** b)

a + b =  19
a - b =  11
a * b =  60
a / b =  3.75
a // b =  3
a % b =  3
a ** b =  50625

# Praktikum 04 - Operator Relasional

In [ ]:
x = 10
y = 20

print("x == y : ", x == y)
print("x != y : ", x != y)
print("x < y : ", x < y)
print("x > y : ", x > y)
print("x <= y : ", x <= y)
print("x >= y : ", x >= y)

x == y :  False
x != y :  True
x < y :  True
x > y :  False
x <= y :  True
x >= y :  False

# Praktikum 05 - Operator Logika dengan Studi Kasus Nyata

In [ ]:
#dasar
a = True
b = False

print("a and b = ", a and b)
print("a or b = ", a or b)
print("not a = ", not a)

#kasus nyata
nilai = int(input("Masukkan nilai ujian : "))
hadir = int(input("Masukkan jumlah kehadiran : "))

lulus_nilai = nilai >= 60
lulus_hadir = hadir >= 12 # dari 16 pertemuan

if lulus_nilai and lulus_hadir:
  print("Status: LULUS")
else:
  print("Status: TIDAK LULUS")

a and b =  False
a or b =  True
not a =  False
Masukkan nilai ujian : 56
Masukkan jumlah kehadiran : 10
Status: TIDAK LULUS

# Praktikum 06 - Program Kasir Sederhana

In [ ]:
barang = input("Masukkan nama barang: ")
harga = float(input("Masukkan harga barang: "))
jumlah = int(input("Masukkan jumlah barang: "))

total = harga * jumlah

#aturan diskon
if total >= 500000:
  diskon = 0.2
elif total >= 250000:
  diskon = 0.1
else:
  diskon = 0

potongan = total * diskon
bayar = total - potongan

print("\n====== Struk Belanja =====")
print(f"Barang: {barang}")
print(f"Jumlah: {jumlah}")
print(f"Total: Rp {total}")
print(f"Diskon: {diskon * 100} %")
print(f"Bayar: Rp {bayar}")

Masukkan nama barang: sarung tangan
Masukkan harga barang: 12000
Masukkan jumlah barang: 100

====== Struk Belanja =====
Barang: sarung tangan
Jumlah: 100
Total: Rp 1200000.0
Diskon: 20.0 %
Bayar: Rp 960000.0

# Penugasan 01 - Identitas Mahasiswa

In [ ]:
nama = "Maulidya Nurul Muharromah"
umur = 18
tinggi = 159.0
status = True

print("====== Data Mahasiswa ======")
print(f"Nama mahasiswa: {nama}")
print(f"Umur mahasiswa: {umur} tahun")
print(f"Tinggi mahasiswa: {tinggi} cm")
print(f"Status Mahasiswa: {status}")

====== Data Mahasiswa ======
Nama mahasiswa: Maulidya Nurul Muharromah
Umur mahasiswa: 18 tahun
Tinggi mahasiswa: 159.0 cm
Status Mahasiswa: True

# Penugasan 02 - Operasi Aritmetika

In [ ]:
a = int(input("Masukkan bilangan pertama: "))
b = int(input("Masukkan bilangan kedua: "))

#operasi
penjumlahan = a + b
pengurangan = a - b
perkalian = a * b
pembagian = a / b
sisa_bagi = a % b
pangkat = a ** b

print("\n====== Hasil Operasi ======")
print("Hasil penjumlahan kedua bilangan adalah ", penjumlahan)
print("Hasil pengurangan kedua bilangan adalah ", pengurangan)
print("Hasil perkalian kedua bilangan adalah ", perkalian)
print("Hasil pembagian kedua bilangan adalah ", pembagian)
print("Hasil sisa bagi dari kedua bilangan adalah ", sisa_bagi)
print("Hasil perpangkatan dari kedua bilangan adalah ", pangkat)

Masukkan bilangan pertama: 8
Masukkan bilangan kedua: 2

====== Hasil Operasi ======
Hasil penjumlahan kedua bilangan adalah  10
Hasil pengurangan kedua bilangan adalah  6
Hasil perkalian kedua bilangan adalah  16
Hasil pembagian kedua bilangan adalah  4.0
Hasil sisa bagi dari kedua bilangan adalah  0
Hasil perpangkatan dari kedua bilangan adalah  64

# Penugasan 03 - Konversi Nilai

In [ ]:
angka = float(input("Masukkan bilangan desimal: "))

print("Bilangan bulatnya adalah ", int(angka))
print("Bilangan ", str(angka))
print("Bilangan ", round(angka))

Masukkan bilangan desimal: 12.54
Bilangan bulatnya adalah  12
Bilangan  12.54
Bilangan  13

# Penugasan 04 - Operator Rasional

In [ ]:
m = float(input("Masukkan bilangan pertama: "))
n = float(input("Masukkan bilangan kedua: "))

sama_dengan = m == n
tidak_sama = m != n
lebih_kecil = m < n
lebih_besar = m > n
kecil_sama = m <= n
besar_sama = m >= n

print("Apakah m dan n sama? ", sama_dengan)
print("Apakah m dan n tidak sama? ", tidak_sama)
print("Apakah m lebih kecil dari n? ", lebih_kecil)
print("Apakah m lebih besar dari n? ", lebih_besar)
print("Apakah m lebih kecil atau sama dengan n? ", kecil_sama)
print("Apakah m lebih besar atau sama dengan n? ", besar_sama)

Masukkan bilangan pertama: 15
Masukkan bilangan kedua: 15
Apakah m dan n sama?  True
Apakah m dan n tidak sama?  False
Apakah m lebih kecil dari n?  False
Apakah m lebih besar dari n?  False
Apakah m lebih kecil atau sama dengan n?  True
Apakah m lebih besar atau sama dengan n?  True