<a href="https://colab.research.google.com/github/maulidyanm/algoritma-pemrograman-s1/blob/main/Praktikum_04_Perulangan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Praktikum 01 - Perulangan For dengan Range

In [ ]:
for i in range(1, 5):
  print(i)

1
2
3
4

# Praktikum 02 - Perulangan While

In [ ]:
n = int(input("Masukkan angka: "))
while n > 0:
    print(n)
    n -= 1

Masukkan angka: 5
5
4
3
2
1

# Praktikum 03 - Nested Loop (Segitiga Bintang)

In [ ]:
for i in range(1, 5):
  for j in range(i):
    print("*", end="")
  print()

*
**
***
****

# Praktikum 04 - Break dan Continue

In [ ]:
for i in range(1, 10):
  print(i)
  if i == 5:
    print("Angka 5 ditemukan")
    break

1
2
3
4
5
Angka 5 ditemukan

In [ ]:
for i in range(1, 5):
  if i % 2 == 1:
      continue
  print(i)

2
4

# Praktikum 05 - For pada Dictionary

In [ ]:
data = {"Nama": "Andi", "Umur": 20, "Prodi": "TRK"}

for k, v in data.items():
  print(k, ":", v)

Nama : Andi
Umur : 20
Prodi : TRK

# Praktikum 06 - For dengan Enumerate

In [ ]:
daftar = {"Andi", "Budi", "Cici"}

for i, nama in enumerate(daftar, start=1):
  print(i, nama)

1 Budi
2 Cici
3 Andi

# Praktikum 07 - Studi Kasus: Program Kasir Multi Item

In [ ]:
total = 0

while True:
  barang = input("Masukkan nama barang (ketik 'selesai' untuk berhenti): ")

  if barang.lower() == "selesai":
    break

  harga = float(input(f"Masukkan harga {barang}: "))
  jumlah = int(input(f"Masukkan jumlah {barang}: "))
  subtotal = harga * jumlah
  total += subtotal

print("\n===== Struk Belanja =====")
print(f"Total Belanja: Rp {total}")

Masukkan nama barang (ketik 'selesai' untuk berhenti): buku
Masukkan harga buku: 50000
Masukkan jumlah buku: 2
Masukkan nama barang (ketik 'selesai' untuk berhenti): pulpen
Masukkan harga pulpen: 5000
Masukkan jumlah pulpen: 3
Masukkan nama barang (ketik 'selesai' untuk berhenti): selesai

===== Struk Belanja =====
Total Belanja: Rp 115000.0

# Penugasan 01 - Menampilkan Deret Angka

In [ ]:
for i in range(3, 31, 3):
    print(i)

3
6
9
12
15
18
21
24
27
30

# Penugasan 02 - Hitung Faktorial

In [ ]:
n = int(input("Masukkan bilangan: "))
faktorial = 1
i = 1

while i <= n:
    faktorial *= i
    i += 1

print("Faktorial dari", n, "adalah", faktorial)

Masukkan bilangan: 5
Faktorial dari 5 adalah 120

# Penugasan 03 - Pola Segitiga Terbalik

In [ ]:
for i in range(5, 0, -1):
  for j in range(i):
    print("*", end="")
  print()

*****
****
***
**
*

# Penugasan 04 - Bilangan Prima

In [ ]:
angka = int(input("Masukkan bilangan: "))

if angka > 1:
    for i in range(2, angka):
        if angka % i == 0:
            print(f"{angka} bukan bilangan prima, karena habis dibagi {i}")
            break
    else:
        print(f"{angka} adalah bilangan prima")
else:
    print(f"{angka} bukan bilangan prima")

Masukkan bilangan: 30
30 bukan bilangan prima, karena habis dibagi 2

# Penugasan 05 - Bilangan Genap

In [ ]:
for i in range(1, 21):
  if i % 2 == 1:
      continue
  print(i)

2
4
6
8
10
12
14
16
18
20

# Penugasan 06 - Dictionary Mahasiswa

In [ ]:
data = {"Nama": "Budi", "Umur": 21, "Prodi": "Teknik Komputer"}

for k, v in data.items():
  print(k, ":", v)

Nama : Budi
Umur : 21
Prodi : Teknik Komputer

# Penugasan 07 - Enumerate Daftar Barang

In [ ]:
daftar = {"Buku", "Pulpen", "Tas"}

for i, barang in enumerate(daftar, start=1):
  print(i, barang)

1 Pulpen
2 Buku
3 Tas

# Penugasan 08 - Kasir Diskon

In [ ]:
total = 0

while True:
  barang = input("Masukkan nama barang (ketik 'selesai' untuk berhenti): ")

  if barang.lower() == "selesai":
    break

  harga = float(input(f"Masukkan harga {barang}: "))
  jumlah = int(input(f"Masukkan jumlah {barang}: "))
  subtotal = harga * jumlah
  if subtotal >= 200000:
      diskon = 0.1
  else:
      diskon = 0

  total_diskon = subtotal * diskon
  total += subtotal - total_diskon

print("\n===== Struk Belanja =====")
print(f"Total Belanja: Rp {total}")
print(f"Kamu mendapat diskon sebesar: {total_diskon}")

Masukkan nama barang (ketik 'selesai' untuk berhenti): tas
Masukkan harga tas: 100000
Masukkan jumlah tas: 3
Masukkan nama barang (ketik 'selesai' untuk berhenti): selesai

===== Struk Belanja =====
Total Belanja: Rp 270000.0
Kamu mendapat diskon sebesar: 30000.0