<a href="https://colab.research.google.com/github/maulidyanm/algoritma-pemrograman-s1/blob/main/Praktikum_07_Tuple%2C_Dictionary%2C_Set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Praktikum 01 - Tuple: Data tetap

In [ ]:
koordinat = (7.05, 110.44)

print("Lintang: ", koordinat[0])
print("Bujur: ", koordinat[1])

Lintang:  7.05
Bujur:  110.44

# Praktikum 02 - Dictionary Dasar

In [ ]:
mahasiswa = {
    "NIM": "20251001",
    "Nama": "Andi",
    "Prodi": "TRK"
}

print("NIM:", mahasiswa["NIM"])
print("Nama:", mahasiswa["Nama"])
print("Prodi:", mahasiswa["Prodi"])

NIM: 20251001
Nama: Andi
Prodi: TRK

# Praktikum 03 - Operasi pada Dictionary

In [ ]:
mahasiswa = {
    "NIM": "20251001",
    "Nama": "Andi",
    "Prodi": "TRK"
}

mahasiswa ["Umur"] = 20
mahasiswa ["Prodi"] = "Teknik Komputer"
del mahasiswa ["Umur"]

print(mahasiswa)

{'NIM': '20251001', 'Nama': 'Andi', 'Prodi': 'Teknik Komputer'}

# Praktikum 04 - Set dan Operasi Himpunan

In [ ]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

print("Union:", A | B)
print("Intersection:", A & B)
print("Difference:", A - B)

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference: {1, 2}

# Praktikum 05 - Data Mahasiswa dan Mata Kuliah

In [ ]:
mhs1 = {"Algoritma", "Matematika", "Bahasa Inggris"}
mhs2 = {"Algoritma", "Basis Data", "Matematika"}

print("Mata kuliah Mahasiswa 1: ", mhs1)
print("Mata kuliah Mahasiswa 2: ", mhs2)
print("Mata kuliah yang sama: ", mhs1 & mhs2)

Mata kuliah Mahasiswa 1:  {'Bahasa Inggris', 'Algoritma', 'Matematika'}
Mata kuliah Mahasiswa 2:  {'Algoritma', 'Matematika', 'Basis Data'}
Mata kuliah yang sama:  {'Algoritma', 'Matematika'}

# Praktikum 06 - Daftar Nilai Mahasiswa

In [ ]:
nilai = {
  "Andi": 80,
  "Budi": 75,
  "Cici": 90
  }

for nama, nnilai in nilai.items():
  print(f"{nama}: {nnilai}")

rata = sum(nilai.values()) / len(nilai)
print(f"Rata-rata nilai: {rata:.2f}")

Andi: 80
Budi: 75
Cici: 90
Rata-rata nilai: 81.67

# Penugasan 01 - Tuple Sederhana

In [ ]:
data = ("Maulidya Nurul Muharromah", 18, "Teknologi Rekayasa Komputer")

print("Nama:", data[0])
print("Umur:", data[1])
print("Prodi:", data[2])

Nama: Maulidya Nurul Muharromah
Umur: 18
Prodi: Teknologi Rekayasa Komputer

# Penugasan 02 - Tuple Tidak Bisa Diubah

In [ ]:
angka = (1, 2, 3)
angka[0] = 10

print(angka)

TypeError: 'tuple' object does not support item assignment

# Penugasan 03 - Dictionary Dasar

In [ ]:
buku = {
    "Judul": "Algoritma",
    "Penulis": "Munir",
    "Tahun": 2021
}

print("Judul Buku:", buku["Judul"])
print("Nama Penulis:", buku ["Penulis"])
print("Tahun Terbit:", buku["Tahun"])

Judul Buku: Algoritma
Nama Penulis: Munir
Tahun Terbit: 2021

# Penugasan 04 - Operasi Dictionary

In [ ]:
dosen = {
    "NIP": "12345",
    "Nama": "Budi",
    "Prodi": "TRK"
}

dosen["Umur"] = 40
dosen["Prodi"] = "Tekik Komputer"
del dosen["Umur"]

print(dosen)

{'NIP': '12345', 'Nama': 'Budi', 'Prodi': 'Tekik Komputer'}

# Penugasan 05 - Set dan Himpunan

In [ ]:
A = {"Matematika", "Algoritma", "Bahasa Inggris"}
B = {"Algoritma", "Basis Data", "Matematika"}

print("Union:", A | B)
print("Intersection:", A & B)
print("Difference:", A - B)

Union: {'Matematika', 'Algoritma', 'Basis Data', 'Bahasa Inggris'}
Intersection: {'Matematika', 'Algoritma'}
Difference: {'Bahasa Inggris'}

# Penugasan 06 - Studi Kasus Dictionary

In [ ]:
nilai = {
  "Andi": 85,
  "Budi": 90,
  "Cici": 78
  }

print("\n===== Daftar Nilai Mahasiswa =====")
for nama, nnilai in nilai.items():
  print(f"{nama}: {nnilai}")

rata = sum(nilai.values()) / len(nilai)
print(f"Rata-rata nilai: {rata:.2f}")

===== Daftar Nilai Mahasiswa =====
Andi: 85
Budi: 90
Cici: 78
Rata-rata nilai: 84.33

# Penugasan 07 - Klub Mahasiswa

In [ ]:
KlubA = {"Andi", "Budi", "Cici"}
KlubB = {"Cici", "Deni", "Eka"}

print("Dafta Anggota Klub: ", KlubA | KlubB)
print("Daftar Anggota yang ada di Kedua Klub: ", KlubA & KlubB)
print("Daftar Anggota yang hanya ada di klub A: ", KlubA - KlubB)

Dafta Anggota Klub:  {'Budi', 'Eka', 'Cici', 'Deni', 'Andi'}
Daftar Anggota yang ada di Kedua Klub:  {'Cici'}
Daftar Anggota yang hanya ada di klub A:  {'Budi', 'Andi'}