<a href="https://colab.research.google.com/github/maulidyanm/algoritma-pemrograman-s1/blob/main/Praktikum_06_List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Praktikum 01 - Membuat dan Mengakses List 1D

In [ ]:
mahasiswa = ["Andi", "Budi", "Cici"]

print(mahasiswa[0])
print(mahasiswa[1])
print(mahasiswa[-1])

Andi
Budi
Cici

# Praktikum 02 - Update dan Operasi Dasar

In [ ]:
nilai = [85, 90, 78]
nilai [1] = 95

nilai.append(100)
nilai.remove(78)
print(nilai)

[85, 95, 100]

# Praktikum 03 - Slicing List

In [ ]:
nilai = [85, 90, 78, 92, 88]

print(nilai [0:3])
print(nilai [2:])
print(nilai [:3])

[85, 90, 78]
[78, 92, 88]
[85, 90, 78]

# Praktikum 04 - List 2D (Matriks)

In [ ]:
matriks = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

print(matriks [0][0])
print(matriks [1][2])
print(matriks [2])

1
6
[7, 8, 9]

# Praktikum 05 - Operasi Pada List 2D

In [ ]:
A = [[1, 2, 3], [4, 5, 6]]
B = [[7, 8, 9], [10, 11, 12]]
C = []

for i in range (len(A)):
  baris = []
  for j in range (len(A[0])):
      baris.append(A[i] [j] + B[i][j])
  C.append(baris)

print(C)

[[8, 10, 12], [14, 16, 18]]

# Praktikum 06 - Pengelolaan Nilai Mahasiswa

In [ ]:
nilai = [
    [80, 90, 85],
    [70, 75, 80],
    [88, 92, 84]
]

for i, baris in enumerate(nilai, start=1):
  rata = sum(baris) / len(baris)
  print(f"Rata-rata mahasiswa {i}: {rata:.2f}")

Rata-rata mahasiswa 1: 85.00
Rata-rata mahasiswa 2: 75.00
Rata-rata mahasiswa 3: 88.00

# Penugasan 01 - Akses Elemen List

In [ ]:
mahasiswa = ["Andi", "Budi", "Lisa", "Sari", "Ari"]

print(mahasiswa[0])
print(mahasiswa[-1])
print(mahasiswa[1])

Andi
Ari
Budi

# Penugasan 02 - Operasi Dasar List

In [ ]:
nilai = [70, 75, 80]
nilai [1] = 85

nilai.append(90)
nilai.remove(70)
print(nilai)

[85, 80, 90]

# Penugasan 03 - Slicing List

In [ ]:
angka = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(f"3 elemen pertama {angka [0:3]}")
print(f"4 elemen terakhir {angka [6:]}")
print(f"Elemen dengan indeks genap {angka [::2]}")

3 elemen pertama [1, 2, 3]
4 elemen terakhir [7, 8, 9, 10]
Elemen dengan indeks genap [1, 3, 5, 7, 9]

# Penugasan 04 - List 2D ~ Matriks

In [ ]:
matriks = [
    [1, 2, 3],
    [4, 5, 6],
]

print(matriks [0][1])
print(matriks [1][2])
print(matriks [0])

2
6
[1, 2, 3]

# Penugasan 05 - Operasi Matriks 2D

In [ ]:
A = [[2, 6, 8], [1, 3, 5]]
B = [[4, 8, 9], [11, 12, 10]]
C = []

for i in range (len(A)):
  baris = []
  for j in range (len(A[0])):
      baris.append(A[i] [j] + B[i][j])
  C.append(baris)

print(C)

[[6, 14, 17], [12, 15, 15]]

# Penugasan 06 - Rata-rata Nilai Mahasiswa

In [ ]:
nilai = [
    [75, 80, 85],
    [60, 70, 65],
    [90, 95, 92]
]

for i, baris in enumerate(nilai, start=1):
  rata = sum(baris) / len(baris)
  print(f"Rata-rata mahasiswa {i}: {rata:.2f}")

Rata-rata mahasiswa 1: 80.00
Rata-rata mahasiswa 2: 65.00
Rata-rata mahasiswa 3: 92.33

# Penugasan 07 - Data Toko

In [ ]:
stok = [
    ["Buku", 20],
    ["Pulpen", 35],
    ["Penghapus", 15]
]

print("\n===== Stok Barang di Toko =====")
for barang in stok:
  print(f"Stok {barang [0]}: {barang[1]}")

barangbanyak = max(stok, key=lambda x: x[1])
print(f"Stok barang terbanyak: {barangbanyak[0]} ({barangbanyak[1]} buah)")

===== Stok Barang di Toko =====
Stok Buku: 20
Stok Pulpen: 35
Stok Penghapus: 15
Stok barang terbanyak: Pulpen (35 buah)